# Exemple de fitxer .env per a la configuració de la base de dades
# Aquest fitxer ha de ser renombrat a .env i editat amb les credencials de la base de dades
# Configuració de la base de dades
DB_USER=user
DB_PASSWORD=userpassword
DB_NAME=databasename

# URL de conexió (el host 'db' ha de coincidir amb el nom al docker-compose)
DATABASE_URL=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
