# Exemple de fitxer .env per a la configuració de la base de dades
# Aquest fitxer ha de ser renombrat a .env i editat amb els valors 
# de la ip del host de la base de dades i les seves credencials

# Fer servir 
#    'db': per a Docker (db és el nom del servei de la base de dades al docker-compose)
#    'localhost': per a base de dades local
#    ip de la màquina on està la base de dades: per a base de dades remota
DB_HOST= db | localhost | ip_address
DB_PORT=5432

# Credencials de la base de dades
DB_USER=user
DB_PASSWORD=userpassword
DB_NAME=databasename

# URL de connexió construïda amb les variables anteriors
DATABASE_URL=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
